<!-- The 'Home' page -->

{% extends "layout.html" %}

{% block head %}
    <!-- Inherit from 'layout.html' -->
    {{ super() }}
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- Main Content -->
    <article class="container-fluid mt-5 pt-5 custom-article">
        <div class="custom-content">
            <h1>Welcome to Our Restaurant</h1>
            <p>Experience the finest dining with a blend of exquisite flavors and a cozy atmosphere. Our chefs use the freshest ingredients to create dishes that delight your taste buds.</p>
            <p>Come and enjoy a memorable meal with us!</p>
        </div>
    </article>
    <!-- End of Main Content -->
{% endblock %}